<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='page-style.css') }}">
    <title>Chat Messenger</title>
    <body>
        <div class="container">
            <div class="content">
                <div class="top">      
                    <div class="chatbox">
                        <ul class="chats">
                            <li class="U1Text">
                                <div class="dummyDiv"></div>
                                <div class="textDiv">
                                    Hey!
                                </div>
                            </li>
                            <li class="U2Text">
                                <div class="textDiv">
                                    Hey!
                                </div >
                                <div class="dummyDiv"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="controls">
                        <div class="users">
                            <label for="onlineUsers"> Online </label>
                            <select name="onlineUsers" id="onlineUsers">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <input type="text" id="message" name="message" placeholder="send a message." required>
                    <button type="submit" id="sendMessage">Send</button>
                </div>
            </div>
        </div>
    </body>
</html>