<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='page-style.css') }}">
    <title>Chat Messenger</title>
    <body>
        <div class="container">
            <form action="{{ url_for('process_username') }}" method="post">
                <label for="username">P2P Flask Chat</label>
                <input type="text" id="username" name="username" placeholder="enter a username" required>
                <button type="submit" id="login">Login</button>
            </form>
        </div>
    </body>
</html>