<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='page-style.css') }}">
    <title>Chat Messenger</title>
    <body>
        <div class="container">
            <div class="content">
                <div class="top">      
                    <div class="chatbox">
                        <ul class="chats">
                            {% for msg in msgs %}
                            <li>{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="bottom">
                    <input type="text" id="message" name="message" placeholder="send a message." required>
                    <button type="submit" id="sendMessage">Send</button>
                </div>
            </div>
        </div>
    </body>
</html>